@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


body{
    background-color: #1E1E1E;
    width: 100%;
    height: 100%;
}
*{
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
    
}
.header{
   
    justify-content: space-between;
    align-items: center;
    
   
    width: 100%;
    height: 62px;
    display: flex;
    background: #1E1E1E;

}
.teste{

    display: flex;
    align-items: center;
    flex: 2;
    gap: 4.5%;
    
    
}

/* Menu superior*/
.logo{

    display: flex;
    flex: 1;

}
.iconPuc{
    
    width: 160px;
    
    
   
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.oo1{
    
    width: 20px;
    height: 20px;
    margin-right: 8px;
    
}


.flex{

    display: flex;
    justify-content: center ;
    align-items: center;

}
.menu{

    display: flex;
    justify-content: center;
    align-items: center;
     
    

    /* Paragrafo */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #FFFFFF;
}

.login{
    
    width: 102px;
    height: 24px;
    
}

.loogin{
    display: flex;
    justify-content: center ;
    align-items: center;
    flex: 1;
}
/* Fim do menu superior*/

.carrossel{
    
    width: 100%;
    height: 23%;
    
}

/*-- estrutura catalogo--*/
.catalogo{
    display: flex;
    flex-direction: column;
    gap: 1%;
    width: 74%;
    height: 20.25%;
    margin-top: 2.60%;
    margin-left: 13.88%;
}

.topicos{
    display: flex;
    gap: 1%;
    
}

.topico1{
    
    width: 12.12%;
    height: 40px;
    margin-top: 5.3%;
    
    
    /* 1.1 */
    
    background: #CB0505;
    border-radius: 16px 16px 0px 0px;
}

.emCartaz{
    display: grid;
    top: 50%;
    left: 50%;
}

.cartaz{
    position: relative;
    display: flex;
    gap: 1%;
    margin-top: 0.9%;
    
}

.topico2{
    
    width: 12.12%;
    height: 40px;
    margin-top: 5.3%;
    
    /* 2 */
    
    background: #3D3D3D;
    border-radius: 16px 16px 0px 0px;
}

.cat{
    
  
    /* H2 */
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 42px;
    line-height: 48px;
    /* identical to box height, or 114% */
    
    
    color: #FFFFFF;
    
}

.filmes{
    width: 100%;
    height: 69,77%;
    margin-top: 2%;
    top: 30,22%;
}

.vira{
    transform: rotate(-180deg);
}

.arrow{
    margin-top: 13%;
}

.shadow {
    width: 176px;
    height: 274px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.89) 0%, rgba(0, 0, 0, 0) 83.76%);
    border-radius: 24px;
}

.zindex {
    position: relative;
    z-index: 10;
}
/* fim da estrutura catalogo */

.beneficios{
    display: flex;
    width: 72.22%;
    height: 11.23%;
    margin-left: 13.88%;
    margin-top: 1.94%;
    
    
}

.conheca{
    display: flex;
    width: 72.22%;
    height: 18.05%;
    margin-left: 13.88%;
    margin-top: 3.04%;
}

.roda-pe1{
    
    width: 100%;
    height: 12%;
    margin-top: 5.67%;

    background: #3D3D3D;
}

.roda-pe2{
    
    width: 100%;
    height: 92px;
    
    top: 2373px;
}